* {
  margin: 0;
  padding: 0;
}

.centered {
  display: flex;
  margin: 50px auto;
}

#canvas {
  margin: auto;
}

#count {
  margin: auto;
}

#bitmap {
  width: 36px;
  height: 36px;
  margin: auto;
}
